<%= div_for brain do%>

 <ul class="list-group">
  <li class="list-group-item justify-content-between">
    <%=  time_ago_in_words(brain.created_at)%>
    <span class="badge badge-default badge-pill"><%=brain.flavor%></span>
  </li>
</ul>


<%end%>    