
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="container">
<form>
  <div class="row">
  <div class="col-md-6">
  <div class="field ">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class:"form-control" %>
  </div>

  <div class="field ">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class:"form-control" %>
    
  </div>

  <div class="field ">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control" %>
  </div>
  
  <div class="field ">
    <%= f.label :role %><br />
    <%= f.select :role,['editor','contribuidor','suscriptor'],class:"form-control" %>
  </div>
 

  <div class="actions ">
    <%= f.submit "Sign up"%>
  </div>
  </div>
   </div>
  </form>
<% end %>

<%= render "users/shared/links" %>
